<!-- Page Header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <!--  <h1><%- config.title %></h1>  -->
                    <!-- <img src="/images/webriders_title.png" alt="Software Power" style="width:311px;height:67px;"> -->
                    <br>
                    <!-- <img src="/images/webriders_logo.png" alt="Software Power" style="width:200px;height:200px;"> -->


                    <img src="/images/ahmadreza.png" alt="Software Power" style="width:300px;height:300px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF;">
                    <hr class="small">
                    <p style="color:white; font-size:50px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF;">Hi 👋! I am Ahmadreza</p>
                    <p style="color:white; font-size:50px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF;">Senior Full Stack Developer</p>
                    <div style="border-radius: 100px; text-align:center;" >
                        <p style="color:white; font-size:20px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF; z-index:1;">Find me here:</p>
                        <a href="https://github.com/AhmadVakil"><img src="/images/github-icon.png" style="width:130px; cursor: pointer;" > </a>
                        <a href="https://www.linkedin.com/in/ahmadrezavakila/"><img src="/images/linkedin.png" style="width:130px; cursor: pointer;"></a>
                    </div>


                    <!-- <span class="subheading"><%- config.subtitle %></span> -->
                    <!-- <img src="/images/arevthatweridewith.png" alt="Software Power" style="width:282px;height:63px;"> -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div>

        <h1 align="center">Hi 👋, welcome to my portfolio and also my blog.</h1>
        <h1 align="center">I'm a high-tech computer engineer! Friends call me Ahmad!</h1>
        <h3 align="center">Some friends call me only when their PC is broken! No problem, no fee for friends :D</h3>
        <h3 align="center">So become my friend and your computer will always work like a charm :D</h3>
        <h3 align="center">How ever what I do is much more than just fixing a PC! <br>Thus, asking developers to fix PC is a very small favour!</h3>
        <h3 align="center">I ♥️ to code, hack, & solve</h3>

        <br><hr>
        <h3 align="center">My Education</h3><br>
        <h4>I hold three(3) university degrees in <i style="color:forestgreen;">Computer Science</i> from Linnaeus University in Sweden, one <i style="color:blue;">Bachelor Degree</i> in computer science, one <i style="color:blue;">Higher Education</i> degree, and also an <i style="color:blue;">Association Degree</i> all in
        computer science. So, I am really gifted in computer science and I would like to update my skills every day and learn/teach/share new stuff with my colleagues and my team.</h4>
        <h4>I have official researches in computer science, one is published internationally which is supervised by <i style="color:forestgreen;">Linnaeus University's Computer Science and Technology</i> department in Sweden</h4>
        <h4>My research or my thesis is available on <a href="https://www.diva-portal.org/" style="color:blue;">DiVA</a> portal and it is conducted or demonstrated using both front and backend development of a system: <a href="https://www.diva-portal.org/smash/record.jsf?pid=diva2:1586578" ><i style="color:blue;">Automating the
        monotonous workflow: Mobile application development and deployment</i> </h4>
        <div style="border-radius: 100px; text-align:center;" >
            <p style="color:white; font-size:20px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF; z-index:1;">My Publications:</p>
            <a href="https://www.diva-portal.org/smash/get/diva2:1586578/FULLTEXT01.pdf"><img src="/images/Ahmadreza-Thesis.png" style="width:300px; cursor: pointer; margin:5px;" > </a>
        </div>
        <h4 align="center">Click <a href="https://www.diva-portal.org/smash/get/diva2:1586578/FULLTEXT01.pdf" style="color:blue;">here</a> to download my article directly form DiVA</h4>
        <h4 align="center">I make the life easier for people with coding, automation, and software systems</h4>
        <div style="border-radius: 100px; text-align:center;" >
            <p style="color:white; font-size:20px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF; z-index:1;">My University Degrees:</p>
            <a href="/images/BCS-degree.png"><img src="/images/BCS-degree.png" style="width:350px; cursor: pointer;" > </a>
            <a href="/images/ASC-degree.png"><img src="/images/ASC-degree.png" style="width:350px; cursor: pointer;"></a>
        </div>
        <div style="border-radius: 100px; text-align:center;">
            <p style="color:white; font-size:20px; text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF; z-index:1;">Other Certificates:</p>
            <a href="/images/Ahmadreza-Vakil-Coursera-IBM-Cybersecurity.png"><img src="/images/Ahmadreza-Vakil-Coursera-IBM-Cybersecurity.png" style="width:300px; cursor: pointer; margin:5px;" > </a>
            <a href="/images/Ahmadreza-Vakil-Coursera-Bash-Shell.png"><img src="/images/Ahmadreza-Vakil-Coursera-Bash-Shell.png" style="width:300px; cursor: pointer; margin:5px;"></a>
            <a href="/images/Ahmadreza-Vakil-Coursera-OOP.png"><img src="/images/Ahmadreza-Vakil-Coursera-OOP.png" style="width:300px; cursor: pointer; margin:5px;"></a>
            <a href="/images/Ahmadreza-Vakil-Coursera-RESTful-API.png"><img src="/images/Ahmadreza-Vakil-Coursera-RESTful-API.png" style="width:300px; cursor: pointer; margin:5px;"></a>
            <a href="/images/Ahmadreza-Vakil-Coursera-SQL.png"><img src="/images/Ahmadreza-Vakil-Coursera-SQL.png" style="width:300px; cursor: pointer; margin:5px;"></a>
            <a href="/images/Ahmadreza-Vakil-Coursera-Web-Security-App-Security-OWASP-ZAP.png"><img src="/images/Ahmadreza-Vakil-Coursera-Web-Security-App-Security-OWASP-ZAP.png" style="width:300px; cursor: pointer; margin:5px;"></a>
        </div>
        <br><hr>
        <h3 align="center">What I do?</h3><br>
        <ul>
            <li> I am working at <a href="https://www.megaminer.net/home" style="color:blue;">Megaminer</a> company and our job is 100% Blockchain related duties. We fix, crack, hack miners software or firmware, our team is also expert in repairing GPU Rig and ASIC miners.</li>
            <li> I develop website, web store, and present our stuff online. I am full stack developer, I design, develop, hack, fix both backend and front end. I have a good approach to present/design mock ups, get confirmation from the client and start building powerful online tools for
            our clients. </li>
            <li> I am also responsible to hire new candidates in our team, do research and development (R&D) based on what our company needs to become the best while there are many competitors.</li>
            <li> Brands that I am working with right now: Antminer, Ebang, Innosilicon, AvalonMiner, Whatsminer, Cheetah Miner, GoldShell, and iBelink.</li>
            <li> 🔭 I’m currently working on coding (Low level & high level languages), pen testing, and more interesting, I am hacking/modifying ASIC miners control board firmware which is beyond having fun ❤️.</li>
            <li> 🌱 I’m currently learning new technologies which I always do till I die, that is what a real full stack developer do while living on earth.</li>
            <li> 👯 I’m also looking to collaborate on open source projects if I have enough time left after work otherwise on weekends.</li>
            <li> I like to write, keep golden logs, and also I love writing articles that can be helpful for junior developers.</li>
            <li> I am also mentor and I have been mentor during my work and my studies. I teach new team members to learn our coding strategies and also how our hardware infrastructures works. I learn things fast and I can share them in simplified way so new junior developers understand because I
            know how hard it could be for beginners to learn new methodologies and how to code and conduct documentation of what we do.</li>
            <li>There are a lot more to share as a full stack developer. It can be frustrating sometimes to solve/debug problems but at the end when I solve the problem I feel really
            good.</li>
            <li>My advice to junior developers is to never sit and work all day long, do physical exercises and go to gym while you work. It helps a lot, pump your blood to your brain and write a better code.</li>
            <li> And finally, I ❤️ FOSS. Who doesn't? Right? :D</li>
        </ul>
        <p align="center"><img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vim/vim-original.svg" alt="Vim" width="70" height="70"/> <img src="https://raw
        .githubusercontent.com/devicons/devicon/master/icons/java/java-original-wordmark.svg" alt="Java" width="70" height="70"/> <img src="https://www.chartjs.org/media/logo-title.svg" alt="chartjs" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/inkscape/inkscape-original-wordmark.svg" alt="inkscape" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/gimp/gimp-original.svg" alt="GIMP" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="css3" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original.svg" alt="jquery" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/webpack/webpack-original.svg" alt="webpack" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/npm/npm-original-wordmark.svg" alt="npm" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ssh/ssh-original-wordmark.svg" alt="ssh" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tomcat/tomcat-original-wordmark.svg" alt="Tomcat" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/yarn/yarn-original-wordmark.svg" alt="yarn" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/debian/debian-original-wordmark.svg" alt="debian" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/gradle/gradle-plain.svg" alt="Gradle" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/apache/apache-line-wordmark.svg" alt="Apache" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="Docker" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original.svg" alt="express" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/intellij/intellij-original-wordmark.svg" alt="intellij" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jetbrains/jetbrains-original.svg" alt="jetbrains" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/android/android-original-wordmark.svg" alt="Android" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" alt="git" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="HTML5" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-plain.svg" alt="laravel" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="linux" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nginx/nginx-original.svg" alt="nginx" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/chrome/chrome-original.svg" alt="Chrome" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/composer/composer-original.svg" alt="Composer" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="php" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" alt="AWS" width="70" height="70"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original-wordmark.svg" alt="vuejs" width="70" height="70"/></p>

        <p align="center">
            <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=AhmadVakil&layout=compact&hide=html&langs_count=10" alt="AhmadVakil" style="width:80%"/>
        </p>

        <p align="center">&nbsp;<img align="center" src="https://github-readme-stats.vercel.app/api?username=AhmadVakil&show_icons=true" alt="AhmadVakil" style="width:80%"/></p>

        <p align="center" style="border-radius:20px;">
            <img src="https://raw.githubusercontent.com/AhmadVakil/AhmadVakil/main/typing-anim.gif" alt="Typing-Animation" width="95%" style="border-radius:20px;"/>
        </p>
    </div>

    <br><hr>
    <h3 align="center">My Blog (Tech Related Articles)</h3><br>
    <p>
      Every article you read about hacking in this website is just for educational purposes and we are not responsible if you use these information for malicious purposes. Our background education is in network security and computer science, therefore we write articles that can be useful for penetration testing and vulnerabilities analysis.<br><br> To get the best experience in our website we use cookies and we suggest using Google Chrome or Firefox and avoid using browsers that block external links such as Brave browser in order to share articles on your social media.
    </p>
    <div class="row">
        <div style="display:inline;">
            <% page.posts.each(function(item){ %>
            <div id="box" style="padding: 10px; box-shadow: 0px 0px 8px; border-radius:15px; margin:10px; transition: 0.5s;" onmouseover="hoverDiv(this)" onmouseout="unHoverDiv(this)">
                <%- partial('_partial/article-index', {item: item}) %>
            </div>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>

<script>
function hoverDiv(x) {
  x.style.backgroundColor = "gray";
  x.style.borderRadius = "30px";

}

function unHoverDiv(x) {
  x.style.backgroundColor = "white";
  x.style.borderRadius = "15px";
}
</script>
